<%- include('partials/header') %>

  <div class="jumbotron centered mb-0">
    <div class="container">
      <i class="fas fa-user-secret fa-6x"></i>
      <h1 class="display-2">Bcrypt Generator</h1>
      <p class="lead">Autenticação usando bcrypt hashing function</p>
      <hr>
      <a class="btn btn-outline-info btn-lg mx-2" href="/register" role="button">Registrar</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>

<%- include('partials/footer') %>