<%- include('partials/header') %>

    <div class="registrar border rounded-3">
        <h2 class="text-center mb-5">Login</h2>
        <div class="row">
            <div class="col-lg-6 col-sm-10 mx-auto">
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>