
body {
  background-color: #E8ECEF;
}

span{
  opacity: 0;
  position: absolute;
  transition: opacity .7s,
              transform .5s;
}

.centered {
    padding-top: 100px;
    text-align: center;
}

.display-5{
  font-size: 1.9rem;
}

.fa-icon{
  color: #000;
}

.hash{
  display: flex;
  transition: transform .2s, 
              background .2s, 
              margin .2s;
}

.hash:hover{
  background: rgba(255, 255, 255, 1);
  border-radius: .8rem;
  cursor: pointer;
  margin: 0 2rem;
  padding: 0 1rem;
  transform: scale(1.1);
}

.hash:hover span{
  opacity: 1;
  transform: translateY(-30px);
}

.registrar{
  margin: 7rem 20rem 0;
  padding: 1rem;
}

@media(max-width: 576px) {
  span{
    opacity: 0!important;
  }

  .hash{
    justify-content: center;
    margin-bottom: .5rem;
  }

  .hash p{
    font-size: 1.2rem;
    font-weight: 400;
  }

  .hash-container{
    display: flex;
    flex-direction: column;
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .registrar{
    margin: 4rem 4rem 0;
    padding: 1rem;
  }

}