
body {
  background-color: #E8ECEF;
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
  color: red;
  outline-color: red;
}

input[type=email]:valid,
input[type=password]:valid {
  background-color: #d2f8d2;
}

.display-5{
  font-size: 1.9rem;
}

.fa-icon{
  color: #000;
}

.hash{
  display: flex;
  transition: transform .2s, 
              background .2s, 
              margin .2s;
}

.hash span{
  opacity: 0;
  position: absolute;
  transition: opacity .3s,
              transform .3s;
}

.hash:hover{
  background: rgba(255, 255, 255, 1);
  border-radius: .4rem;
  cursor: pointer;
  margin: 0 2rem;
  padding: 0 1rem;
  transform: scale(1.1);
}

.hash:hover span{
  color: crimson;
  opacity: 1;
  transform: translateY(-30px);
}

.registrar{
  margin: 7rem 20rem 0;
  padding: 1rem;
}

@media(max-width: 850px) {
  .registrar{
    margin: 7rem 8rem 0;
    padding: 1rem;
  }
}

@media(max-width: 576px) {
  span{
    opacity: 0!important;
  }

  .hash{
    justify-content: center;
    margin-bottom: .5rem;
  }

  .hash p{
    font-size: 1.2rem;
    font-weight: 400;
  }

  .hash-container{
    display: flex;
    flex-direction: column;
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .registrar{
    margin: 4rem 4rem 0;
    padding: 1rem;
  }

}